---
import PreBlock from "../textmode/PreBlock.astro";
import { cveRecords } from "../../config";
import { renderCveRegister } from "../../modules/cves/render";

const cveHtml = renderCveRegister(cveRecords);
---

<section class="textmode-wrap cve-wrap">
  <PreBlock class="cve-pre" html={cveHtml} />
</section>
